<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DouyinHelp"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="抖音双击手势 Hook 模块" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />

    </application>

</manifest>
